<div class="row">
  <div class="columns large-12">
    <div class="button no_vertical_margin", id="add_new_item_button">Add New Item to Track</div>
  </div>
</div>
<div class="row", id="new_item_form", style="display:none">
  <div class="columns large-12">
    <%= form_for(Question.new, url: add_question_path(assessment), remote: true) do |form| %>
      <%= form.label :question_type, "Question Type" %>
      <%= form.collection_select :question_type, Question.human_readable_question_types, :first, :last, {prompt: true}, {id:"question_type_select"} %>
      <%= form.label :question_text, "Question Text" %>
      <%= form.text_field :question_text %>
      <div id="scale_options" style="display:none">
        <%= form.label :scale_min, "Minimum Value" %>
        <%= form.text_field :scale_min %>
        <%= form.label :scale_max, "Maximum Value" %>
        <%= form.text_field :scale_max %>
      </div>
      <%= form.submit 'Add Item', class: "button"%>
      <a href="#", id="cancel_new_item">&nbsp;&nbsp;&nbsp;cancel</a>
    <% end %>
    <hr>
  </div>
</div>
<%= form_for(assessment.todays_response, url: update_response_path(assessment.todays_response), remote: true) do |form| %>
  <%= form.hidden_field :user_id, :value => form.object.user_id %>
  <%= form.hidden_field :assessment_id, :value => form.object.assessment_id %>
  <%= form.fields_for :answers do |answer_form| %>
    <br>
      <%= answer_form.hidden_field :question_id, :value => answer_form.object.question_id %>
      <%= answer_form.object.question.question_text %>:
      <%= render partial: answer_form.object.partial_location, locals: {answer_form: answer_form} %>
  <% end %>
  <br>
  <div class="row">
    <div class="columns large-9">
      <p id="assessment_save_indicator"></p>
    </div>
    <div class="columns large-3", style="padding:0px">
      <%= form.submit 'Save', class: "button no_vertical_margin", id: "daily_assessment_submit"%>
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function(){
    $("#add_new_item_button").click(function(){
      $("#new_item_form").show("blind", 500);
    });
    $("#cancel_new_item").click(function(){
      $("#new_item_form").hide("blind", 500);
    });
    $("#question_type_select").change(function(){
        $( "#question_type_select option:selected").each(function(){
            if($(this).attr("value")=="boolean"){
                $("#scale_options").hide("blind", 500);
            }
            else if($(this).attr("value")=="scale"){
                $("#scale_options").show("blind", 500);

            }
        });
    });
  });
</script>