<!-- This is a view for an assessment_response -->
<h1><%= @response.assessment.name %></h1>
<%= form_for(@response, url: submit_response_path) do |form| %>
  <%= form.fields_for :answers do |answer_form| %>
    <br>
    <%= answer_form.hidden_field :question_id, :value => answer_form.object.question_id %>
    <%= answer_form.object.question.question_text %>:
    <%= render partial: answer_form.object.partial_location, locals: {answer_form: answer_form} %>
  <% end %>
  <br>
  <%= form.submit 'Submit', class: "button"%>
<% end %>