<div class="row">
  <div class="columns large-12">
    <div class="panel", id="habitPanel">
      <div class="row">
        <% Habit.includes(:categories).all.each do |habit| %>
          <div class="columns large-4 medium-6 end">
            <div class="panel">
              <h5><%= habit.name %></h5>
              <p><%= habit.categories.first.name %></p>
              <p><%= truncate(habit.description, :length => 100, :separator => ' ') %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row centered">
  <div class="columns large-centered large-12">
    <div class="panel", id="entry_panel">
      <%= form_for(entry, url: entry_path(entry), remote: true) do |form| %>
        <p>
          <%= form.text_area :text, id: "entry_area", autofocus:true%>
        </p>
        <div class="row">
          <div class="columns large-2">
            <h4 class="inline" id="wordcount_indicator">  </h4>
            <div id="save_indicator"></div>
          </div>
          <div class="columns large-8">
            <p></p>
          </div>
          <div class="columns large-2">
            <%= form.submit 'Save', class: "button", id: "entry_submit", class: "inline, button"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= javascript_include_tag 'wordcount'%>
  <%= javascript_include_tag 'mousetrap.min'%>
  <script>
    $(function(){
      Mousetrap.bindGlobal('mod+s', function(e) {
        $("#entry_submit").click();
        return false;
      });
    });
  </script>
  <script>
    $(function() {
      trackerPanel = $("#trackerPanel");
      habitPanel = $("#habitPanel");

      var biggestHeight=trackerPanel.height();
      if(habitPanel.height() > biggestHeight){
        biggestHeight = habitPanel.height()
      }

      habitPanel.height(biggestHeight);
    });
  </script>
</div>
