<div class="grid-x centered">
  <div class="cell large-centered large-12">
    <div class="callout", id="entry_panel">
      <%= form_for(entry, url: entry_path(entry), remote: true) do |form| %>
        <p>
          <textarea id="entry_area" autofocus="autofocus" name="entry[text]"><%= entry.text %></textarea>
        </p>
        <div class="grid-x">
          <div class="cell large-2">
            <h4 class="inline" id="wordcount_indicator">  </h4>
            <div id="save_indicator"></div>
          </div>
          <div class="cell large-8">
            <p></p>
          </div>
          <div class="cell large-2">
            <%= form.submit 'Save', class: "button", id: "entry_submit", class: "inline, button", style:"width:90px; height:60px; font-size:1.1em;"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= javascript_include_tag 'wordcount'%>
  <%= javascript_include_tag 'mousetrap.min'%>
  <script>
    $(function(){
      Mousetrap.bindGlobal('mod+s', function(e) {
        $("#entry_submit").click();
        return false;
      });
    });
  </script>
</div>
