<div>
  <%= form_for(user, url: users_path) do |form| %>
    <% if user.errors.any? %>
      <ul>
        <% user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <p>
      <%= form.label :email, :class => "text-left" %>
      <%= form.email_field :email, :required => "required" %>
    </p>

    <p>
      <%= form.label :password, :class => "text-left" %>
      <%= form.password_field :password, :required => "required" %>
    </p>

    <p>
      <%= form.label :password_confirmation, :class => "text-left" %>
      <%= form.password_field :password_confirmation, :required => "required" %>
    </p>

    <p>
      <%= form.label :name, :class => "text-left" %>
      <%= form.text_field :name, :required => "required" %>
    </p>
    <%= form.submit 'Sign Up', class: "button"%>
  <% end %>

</div>