<div>
  <%= form_for(user, url: users_path) do |form| %>
    <% if user.errors.any? %>
      <ul>
        <% user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <table>
      <tbody>
        <tr>
          <td><%= form.label :email, class: "text-left" %></td>
          <td><%= form.email_field :email, required: "required" %></td>
        </tr>
        <tr>
          <td><%= form.label :password, class: "text-left" %></td>
          <td><%= form.password_field :password, required: "required" %></td>
        </tr>
        <tr>
          <td><%= form.label :password_confirmation, 'Password Confirmation', class: "text-left" %></td>
          <td><%= form.password_field :password_confirmation, required: "required" %></td>
        </tr>
        <tr>
          <td><%= form.label :name, class: "text-left" %></td>
          <td><%= form.text_field :name, required: "required" %></td>
        </tr>
      </tbody>
    </table>
    <%= form.submit 'Sign Up', class: "button"%>
  <% end %>

</div>