<% word_info = current_user.word_info %>
<div class="cell large-12">
  <h3>Total Words Typed: <%= number_with_delimiter(word_info[:word_count], delimiter: ',') %></h3>
  <h3>Total Unique Words: <%= number_with_delimiter(word_info[:uniq_words], delimiter: ',') %></h3>
  <h3>Most Used Words:</h3>
</div>
<%
  most_used_words = word_info[:most_used]
  adjustment_constant = 1
  if(!most_used_words.empty?)
    adjustment_constant = 18.0/most_used_words.first[1]
  end
%>
<% most_used_words.each do |word ,v| %>
  <span class="uniq_word" title="<%= v %>" style="font-size:<%= v*adjustment_constant +0.6%>em"><%= word %>&nbsp;</span>
<% end %>

<script>
  function getRandomColor() {
      var letters = '0123456789ABCDEF'.split('');
      var color = '#';
      for (var i = 0; i < 6; i++ ) {
          color += letters[Math.floor(Math.random() * 15)];
      }
      return color;
  }
  $(".uniq_word").each(function(){
    $(this).css("color", getRandomColor());
  });
</script>