<h3>Here will be graphs based on your <%= @daily_assessment.assessment_responses.count %> responses over time.</h3>
<br>
<h5>And based on these questions you have set to answer on a daily basis:</h5>
<div id="d3_graph"></div>
<br>
<h3>Total Words Typed:</h3>
<p><%= current_user.total_word_count %></p>

<h3>Total Unique Words:</h3>
<p><%= current_user.total_unique_words %></p>

<h3>Most Used Words:</h3>
<% current_user.most_used_words.each do |k,v| %>
  <span class="uniq_word" title="<%= v %>" style="font-size:<%= (Math.log2(v)*5)+10 %>px"><%= k %>&nbsp;</span>
<% end %>

<script>
  data=<%= @daily_assessment.questions.to_json.html_safe %>;
  d3.select("#d3_graph").selectAll("p")
    .data(data)
    .enter()
    .append("p")
    .text(function(d) { return d.question_text; });

  function getRandomColor() {
      var letters = '0123456789ABCDEF'.split('');
      var color = '#';
      for (var i = 0; i < 6; i++ ) {
          color += letters[Math.floor(Math.random() * 15)];
      }
      return color;
  }
  $(".uniq_word").each(function(){
    $(this).css("color", getRandomColor());
  });
</script>