<div>
  <%= form_for(user_session, url: user_sessions_path) do |form| %>
    <% if user_session.errors.any? %>
      <ul>
        <% user_session.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <table>
      <tbody>
        <tr>
          <td><%= form.label :email %></td>
          <td><%= form.email_field :email, required: "required" %></td>
        </tr>
        <tr>
          <td><%= form.label :password %></td>
          <td><%= form.password_field :password, :required => "required" %></td>
        </tr>
      </tbody>
    </table>
    <%= form.submit 'Login', class: "button"%>
  <% end %>
</div>