<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Moodtrackingapp</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="LoggedInIndicator" class="row">
      <% if current_user.nil? %>
        <p>You are not currently logged in <br/>
        <%= link_to 'Login', new_user_session_path %> |
        <%= link_to 'Sign Up', new_user_path %>
        </p>
      <% else %>
        <p>You are logged in as: <%= link_to current_user.name, user_path(current_user) %>.
        (<%= link_to 'Logout', user_session_path(current_user_session), :method => :delete %>)</p>
      <% end %>

      <%= render 'layouts/display_flash' %>
    </div>
    <div class="row">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>