<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'favicon.ico' %>
    <title>Think</title>

    <%= stylesheet_link_tag    'application', media: 'all'%>

    <%= javascript_include_tag 'application'%>

    <%= csrf_meta_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
  </head>

  <body>
    <%= render 'layouts/display_flash' %>
    <div id="LoggedInIndicator">
      <% if current_user.nil? %>
        <p>You are not currently logged in <br/>
        <%= link_to 'Login', new_user_session_path %> |
        <%= link_to 'Sign Up', new_user_path %>
        </p>
      <% else %>
        <p class="no_vertical_margin">You are logged in as: <%= link_to current_user.name, me_path %>.
        (<%= link_to 'Logout', user_session_path(current_user_session), :method => :delete %>)</p>
        <div class="indented">
          <p class="no_vertical_margin"><%= link_to 'Home', root_path%></p>
          <p class="no_vertical_margin"><%= link_to 'Stats', user_graph_path%></p>
        </div>
      <% end %>
    </div>
    <div class="flex_container">
      <div class="main_column">
        <%= yield %>
      </div>
    </div>
  </body>
</html>